@charset "UTF-8";

/* Versão Mobile First */

/*
        #A07968
        #EFD9D5
        #F5E8E5
*/       

:root {
    --cor-001: #A07968;
    --cor-002: #EFD9D5;
    --cor-003: #F5E8E5;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
}

header {
    display: flex;
    box-sizing: border-box;
    background-color: var(--cor-003);
    height: 150px;
    justify-content: space-between;
}

header > h1#logo {
    margin: auto;  
}

nav ul {
    position: absolute;
    top: 150px;
    width: 100%;
    right: 0px;
    background-color: #F5E8E5;
    z-index: 1;
}

nav li {
    line-height: 5em;
    text-align: center;
    list-style-type: none;
}
nav a {
    display: block;
    cursor: pointer;
    color: var(--cor-001);
    padding: .5em;
    text-decoration: none;
    border-bottom: 2px solid var(--cor-002);
}

nav a:hover {
    background-color: var(--cor-002);
}
