@charset "UTF-8";

/* Versão Mobile First */

/*
        #A07968
        #EFD9D5
        #F5E8E5
*/       

:root {
    --cor-001: #A07968;
    --cor-002: #EFD9D5;
    --cor-003: #F5E8E5;
}

* {
    
}

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--cor-003);
    height: 200px;
}

header > h1 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}

nav li {
    text-align: center;
    list-style-type: none;
}
nav a {
    
    text-decoration: none;
}