@charset "UTF-8";

/* Versão Mobile First */

/*
        #A07968
        #EFD9D5
        #F5E8E5
*/

:root {
    --cor-001: #A07968;
    --cor-002: #EFD9D5;
    --cor-003: #F5E8E5;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
}

main {
    margin: auto;
    background-color: white;

}

header {
    display: flex;
    box-sizing: border-box;
    background-color: var(--cor-003);
    height: 150px;
    
}

header > h1#logo {
    margin: auto;  
}

#botaoMobile {
    display: block;
}

nav ul {
    display: none;
    position: absolute;
    top: 150px;
    width: 100%;
    right: 0px;
    background-color: #F5E8E5;
    z-index: 1;

    

}

nav li {
    padding: 30px;
    text-align: center;
    list-style-type: none;
    border-bottom: 2px solid var(--cor-002);
}
nav a {
    cursor: pointer;
    color: var(--cor-001);
    text-decoration: none;
}

#botaoMobile {
    position: absolute;
    right: 20px;
    top: 100px;
    border: none;
    background-color: var(--cor-003);
}

#hamburguer {
    cursor: pointer;
    width: 30px;
    border-top: 2px solid var(--cor-001);
    display: block;
}
#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    border-top: 2px solid var(--cor-001);
    width: 30px;
    margin-top: 5px;
}

section#apresentaçao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    width: 90vw;
    margin: auto;

}

article.imagem-projetos img {
    max-width: 250px;
    
}

article.imagem-projetos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 250px;
}

article.imagem-projetos p {
    margin-top: 30px;
}
